CLOUD-SERVER/node_modules
CLOUD-SERVER/mime
CLOUD-SERVER/mime.cmd
CLOUD-SERVER/nodemon
CLOUD-SERVER/nodemon.cmd
CLOUD-SERVER/semver.cmd
CLOUD-SERVER/semver
RASPBERRY-PI-SERVER/node_modules
REACT-NATIVE-APP/node_modules
adminPanel/lib
adminPanel/bin
adminPanel/Include
adminPanel/Scripts
adminPanel/tcl
adminPanel/adminpanel/db.sqlite3